.content {
  padding: 20px;
  flex: 1;
  overflow-x: auto;
}

.client-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: white;
}

.client-table th,
.client-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.client-table th {
  background-color: #0b1f4d;
  color: white;
}
