<div style="display:flex;">

  <app-sidebar></app-sidebar>

  <div class="content">

    <h1>Gestion des Marchés</h1>

    <button (click)="ouvrirFormulaire()">
      + Nouveau Marché
    </button>

    @if (showForm) {
    <div style="margin-top:20px; padding:20px; border:1px solid #ccc;">

      <h3>Nouveau Marché</h3>

      <input type="text" placeholder="N° Marché" [(ngModel)]="nouveauMarche.numeroMarche">
      <br><br>

      <input type="date" [(ngModel)]="nouveauMarche.dateDebut">
      <br><br>

      <input type="date" [(ngModel)]="nouveauMarche.dateFin">
      <br><br>

      <input type="number" placeholder="Montant marché" [(ngModel)]="nouveauMarche.montantMarche">
      <br><br>

      <input type="number" placeholder="Taux exécution" [(ngModel)]="nouveauMarche.tauxExecution">
      <br><br>

      <select [(ngModel)]="nouveauMarche.statut">
        <option value="EN_COURS">EN_COURS</option>
        <option value="TERMINE">TERMINE</option>
        <option value="ANNULE">ANNULE</option>
      </select>
      <br><br>

      <select [(ngModel)]="nouveauMarche.appelDoffres.id">
        <option [ngValue]="0">-- Choisir un appel d'offres --</option>

        @for (ao of appelsOffres; track ao.id) {
        <option [ngValue]="ao.id">
          {{ ao.reference }}
        </option>
        }
      </select>
      <br><br>

      <button (click)="enregistrerMarche()">
        Enregistrer
      </button>

    </div>
    }

    <table class="marche-table">

      <tr>
        <th>N° Marché</th>
        <th>Appel d'Offres</th>
        <th>Date Début</th>
        <th>Date Fin</th>
        <th>Montant</th>
        <th>Taux Exécution</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>

      @for (marche of marches; track marche.id) {
      <tr>
        <td>{{ marche.numeroMarche }}</td>
        <td>{{ marche.appelDoffres?.reference }}</td>
        <td>{{ marche.dateDebut }}</td>
        <td>{{ marche.dateFin }}</td>
        <td>{{ marche.montantMarche }}</td>
        <td>{{ marche.tauxExecution }} %</td>
        <td>{{ marche.statut }}</td>
        <td>

          <button (click)="modifierMarche(marche)">
            Modifier
          </button>

          <button (click)="supprimerMarche(marche.id)">
            Supprimer
          </button>

        </td>
      </tr>
      }

    </table>

  </div>

</div>
